<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="storefront"></ion-icon>
        <!-- <ion-icon name="basket"></ion-icon> -->
        Home
      </ion-tab-button>
      <ion-tab-button tab="conta">
        <ion-icon name="storefront"></ion-icon>
        <!-- <ion-icon name="basket"></ion-icon> -->
        Conta
      </ion-tab-button>
      <ion-tab-button tab="item">
        <ion-icon name="pizza"></ion-icon>
        Itens
      </ion-tab-button>
      <ion-tab-button tab="pessoa">
        <ion-icon name="people"></ion-icon>
        Pessoas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>