<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="receipt"></ion-icon>
      Conta
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="full">
      Salvar Dados
    </ion-button>
    <ion-button expand="full">
      Carregar Dados
    </ion-button>
    <ion-button expand="full">
      Zerar Dados
    </ion-button>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="listaItens.length != 0 && listaItens.length != 0">
    <h1>Lista de Itens</h1>
    <ion-accordion-group>
      <ion-accordion [value]="item.getId()" *ngFor="let item of listaItens;">
        <ion-item slot="header" color="light">
          <ion-label>{{ item.getDescricao() }}</ion-label>
          <ion-label>{{ item.getValor() | currency : 'BRL' }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-label>Quem consumiu: </ion-label>
          <ion-chip *ngFor="let consumo of getAllConsumoByIdItem(item.getId());">
            <ion-label>{{ consumo.getPessoa().getNome() + " " + ((consumo.getPeso() * fracaoValorByItem(item)) |
              currency
              : 'BRL' )}} </ion-label>
          </ion-chip>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <h3>Valor Total dos Itens {{ valorTotalItem |currency : 'BRL'}}</h3>
    <br>


    <h1>Valor por Pessoa</h1>
    <ion-accordion-group>
      <ion-accordion [value]="pessoa.getId()" *ngFor="let pessoa of listaPessoas;">
        <ion-item slot="header" color="light">
          <ion-label>{{ pessoa.getNome() }}</ion-label>
          <ion-label>{{ pessoa.getValorConta() | currency : 'BRL' }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-label>O que consumiu: </ion-label>
          <ion-chip *ngFor="let consumo of getAllConsumoByIdPessoa(pessoa.getId());">
            <ion-label>{{ consumo.getItem().getDescricao() + " " + ((consumo.getPeso() *
              fracaoValorByItem(consumo.getItem())) |
              currency
              : 'BRL' ) }}</ion-label>
          </ion-chip>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <br>
  </div>
</ion-content>
<ion-button vertical="bottom" (click)="processarContaPessoa()" expand="full">Atualizar</ion-button>