<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testes de Função
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Testes de Função</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Título do Evento" [(ngModel)]="titulo"
        placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Local do Evento" [(ngModel)]="local" placeholder="Local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Anotação" [(ngModel)]="anotacao" placeholder="Anotação"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data e Hora</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="dataHoraSelecionada"></ion-datetime>
    </ion-item>

    <ion-button expand="full" (click)="adicionarEvento()">Adicionar</ion-button>
  </div>


</ion-content>